<ion-header>
  <ion-toolbar>
    <ion-icon
      name="arrow-back-outline"
      slot="start"
      (click)="back()"
      size="large"
    ></ion-icon>
    <ion-title class="ion-text-center">Inscription</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-content">
    <form [formGroup]="signinFrom" (ngSubmit)="signin()" class="signinWithEmail">
      <ion-list>
        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Nom et prénom :"
            type="text"
            placeholder="John Doe"
            name="fullName"
            formControlName="fullName"
            [formControl]="fullName"
          ></ion-input>
          <ion-text
            color="danger"
            [hidden]="fullName.valid || (!fullName.touched && !fullName.valid)"
          >
            Ajoutez un nom et un prénom valide.
          </ion-text>
        </ion-item>

          <ion-item>
            <ion-input
              labelPlacement="floating"
              label="Email :"
              type="email"
              placeholder="exemple@exemple.com"
              name="email"
              formControlName="email"
              [formControl]="email"
            ></ion-input>
            <ion-text
              color="danger"
              [hidden]="email.valid || (!email.touched && !email.valid)"
            >
              Ajoutez une adresse email valide.
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-input
              labelPlacement="floating"
              label="Mot de passe :"
              type="password"
              placeholder=""
              name="password"
              formControlName="password"
              [formControl]="password"
            >
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
            <ion-text
              color="danger"
              [hidden]="password.valid || (!password.touched && !password.valid)"
            >
              Mauvais mot de passe.
            </ion-text>
          </ion-item>
        </ion-list>

      <ion-text color="danger" [hidden]="isDataValid">
        Mauvaise données de connexion.
      </ion-text>

      <ion-button id="open-loading" expand="block" type="submit"
        >Valider</ion-button
      >
    </form>
  </div>
</ion-content>
