ion-toolbar ion-icon{
    margin-left: 10px;
    height: 4vh;
    width: 4vw;
}

.loginWithEmail {
    margin: 5%;
  }
  
  .formField {
      border: 2px, solid,  #b5b5b5;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 2px;
  }