<ion-header>
  <ion-toolbar>
    <ion-icon
      name="arrow-back-outline"
      slot="start"
      (click)="back()"
      size="large"
    ></ion-icon>
    <ion-title class="ion-text-center">Inscription</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-content">
    <form [formGroup]="signinFrom" (ngSubmit)="signin()" class="signinWithEmail">
      <ion-list>
        <ion-item>
          <ion-input
            labelPlacement="fixed"
            label="Nom et prénom :"
            type="text"
            placeholder="John Doe"
            name="fullName"
            formControlName="fullName"
            [formControl]="fullName"
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="fullName.invalid && fullName.touched"
        >
          Ajoutez un nom et un prénom valide.
        </ion-text>

        <ion-item>
          <ion-input
            labelPlacement="fixed"
            label="Email :"
            type="email"
            placeholder="exemple@exemple.com"
            name="email"
            formControlName="email"
            [formControl]="email"
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="email.invalid && email.touched"
        >
          Ajoutez une adresse email valide.
        </ion-text>

        <ion-item>
          <ion-input
            labelPlacement="fixed"
            label="Mot de passe :"
            type="password"
            placeholder=""
            name="password"
            formControlName="password"
            [formControl]="password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="password.invalid && password.touched"
        >
          Mauvais mot de passe.
        </ion-text>
      </ion-list>

      <ion-text color="danger" *ngIf="!isDataValid && fullName.valid && email.valid && password.valid">
        Mauvaises données de connexion.
      </ion-text>

      <ion-button id="open-loading" expand="block" type="submit"
        >Valider</ion-button
      >
    </form>
  </div>
</ion-content>
