<div>
  <h2>Liste des abonnements</h2>
  <ul>
    @for (sub of subscriptions; track trackById) {
    <li>
      <div><strong>Nom:</strong> {{ sub.name }}</div>
      <div><strong>Montant:</strong> {{ sub.amount | currency: 'CHF'}}</div>
      <div>
        <strong>Date de facturation suivante:</strong>
        {{ sub.nextBillingDate | date : "d.M.yyyy" }}
      </div>
      <div><strong>Statut:</strong> {{ sub.status }}</div>
    </li>
    <br />
    }
  </ul>
</div>
<div>
  <h2>Liste des dépenses</h2>
  <h3>Pour le mois actuel</h3>
  {{monthlyExpenses | currency: 'CHF'}}
  <h3>Pour l'année actuel</h3>  
  {{yearlyExpenses | currency: 'CHF'}}

</div>
