.logo {
  flex: 0 1 auto;
  padding: 1%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5%;
}

.flex {
  margin-top: 50%;
}