<ion-content>
  <div class="main-content">
    <div
      class="ion-text-center ion-justify-content-center ion-align-items-center image-container"
    >
      <ion-img src="../../assets/subtrack_logo_full_inverse_transparent.png" alt="SubTrack Logo">
      </ion-img>
    </div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="loginWithEmail()"
      class="loginWithEmail"
    >
      <ion-list>
        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Email :"
            type="email"
            placeholder="exemple@exemple.com"
            name="email"
            formControlName="email"
            [formControl]="email"
            ></ion-input>
        </ion-item> 
        <ion-text
          color="danger"
          [hidden]="email.valid || (!email.touched && !email.valid)"
        >
          Ajoutez une adresse email valide.
        </ion-text>

        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Mot de passe :"
            type="password"
            placeholder=""
            name="password"
            formControlName="password"
            [formControl]="password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-text
          color="danger"
          [hidden]="
            password.valid || (!password.touched && !password.valid)
          "
        >
          Mauvais mot de passe.
        </ion-text>
        <br>

        <ion-text color="danger" [hidden]="isDataValid">
          Mauvaise données de connexion.
        </ion-text>

        <ion-button id="open-loading" expand="block" type="submit"
          >Valider</ion-button
        >
      </ion-list>

      <ion-text color="medium">
        <h5 id="signin" (click)="toSigninForm()" class="ion-text-right">
          Créer un compte !
        </h5>
      </ion-text>
      <h4 class="ion-text-center">Ou</h4>
      <br>
    </form>
    <ion-button
      id="open-loading"
      (click)="loginWithGoogle()"
      expand="block"
    >
      <ion-icon md="logo-google" ios="logo-google"></ion-icon>
      &nbsp; Connexion avec Google
    </ion-button>
  </div>
</ion-content>
