.formField {
  margin-bottom: 10px;
  padding: 5px;
}

ion-button {
  text-transform: none !important;
}

ion-img {
  height: 192px;
  width: 192px;
}

.image-container {
  display: flex;
}

h5 {
  text-decoration: underline;
}