<ion-header>
  <ion-toolbar>
    <ion-title>Ajout d'abonnement</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-input
          labelPlacement="floating"
          label="Rechercher une marque :"
          (ionInput)="onInput($event)"
          #ionInputEl
          placeholder="Min 2 caractères"
          formControlName="companySelected"
          [formControl]="companySelected"
          name="companySelected"
          id="companySelected"
        >
        </ion-input>
        <ion-text
          color="danger"
          [hidden]="
            companySelected.valid ||
            (!companySelected.touched && !companySelected.valid)
          "
        >
          Ce champ est obligatoire.
        </ion-text>
      </ion-item>
      @if (filteredOptions$ | async; as filteredOptions) { @if (toggleDropdown)
      { @for (option of filteredOptions; track option) {
      <ion-item (click)="selectOption(option)">
        <ion-avatar slot="start">
          <img [src]="option.logo" alt="{{ option.name }} logo" />
        </ion-avatar>
        <ion-label>{{ option.name }}</ion-label>
      </ion-item>

      } } }
      <ion-item>
        <ion-input
          labelPlacement="floating"
          label="Prix :"
          type="number"
          placeholder=""
          name="amount"
          formControlName="amount"
          [formControl]="amount"
        ></ion-input>
        <ion-text
          color="danger"
          [hidden]="amount.valid || (!amount.touched && !amount.valid)"
        >
          Ce champ est obligatoire.
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-select
          labelPlacement="floating"
          label="Catégorie :"
          name="selectedCategory"
          formControlName="selectedCategory"
          [formControl]="selectedCategory"
        >
          @for (category of subscriptionCategories; track category) {
          <ion-select-option value="{{ category }}">{{
            category
          }}</ion-select-option>
          }
        </ion-select>

        <ion-text
          color="danger"
          [hidden]="
            selectedCategory.valid ||
            (!selectedCategory.touched && !selectedCategory.valid)
          "
        >
          Ce champ est obligatoire.
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-select
          labelPlacement="floating"
          label="Férquence :"
          name="selectedRenewal"
          formControlName="selectedRenewal"
          [formControl]="selectedRenewal"
        >
          @for (renewal of subscriptionRenewal; track renewal) {
          <ion-select-option value="{{ renewal }}">{{
            renewal
          }}</ion-select-option>
          }
        </ion-select>
        <ion-text
          color="danger"
          [hidden]="
            selectedRenewal.valid ||
            (!selectedRenewal.touched && !selectedRenewal.valid)
          "
        >
          Ce champ est obligatoire.
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-input
          labelPlacement="floating"
          label="Prochain paiement"
          type="text"
          value=""
          readonly
          formControlName="datePicker"
          [formControl]="datePicker"
        >{{ selectedDate | date : 'dd.MM.YYYY' }}</ion-input>
      </ion-item>
      <ion-item class="ion-margin">
        <ion-datetime
          #datetime
          presentation="date"
          min=""
          displayFormat="YYYY-MM-dd" 
          [(ngModel)]="today"
          max="2099-12-09"
          name="nextPaymentDate"
          [formControl]="nextPaymentDate"
          formControlName="nextPaymentDate"
        >
          <ion-buttons slot="buttons">
            <ion-button color="danger" (click)="resetDateTime()"
              >Effacer</ion-button
            >
            <ion-button color="primary" (click)="selectDate()">OK</ion-button>
          </ion-buttons>
        </ion-datetime>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button color="medium" expand="block" (click)="resetForm()"
            >Effacer</ion-button
          >
        </ion-col>
        <ion-col size="6">
          <ion-button id="open-loading" expand="block" type="submit"
            >Valider</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
