<ion-header>
  <ion-toolbar>
    <ion-title>Ajout d'abonnement</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-content">
    <form [formGroup]="addSubscribtionForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Rechercher une marque :"
            (ionInput)="onInput($event)"
              (ionBlur)="closeDropdown()"
            #ionInputEl
            placeholder="Min 2 caractères"
            formControlName="companyName"
            [formControl]="selectedCompany"
            name="selectedCompany"
            id="selectedCompany"
          >
          </ion-input>
          <ion-text
            color="danger"
            *ngIf="(showErrors || selectedCompany.touched) && selectedCompany.invalid"
          >
            Ce champ est obligatoire.
          </ion-text>
        </ion-item>
        @if (filteredOptions$ | async; as filteredOptions) { @if (toggleDropdown)
        { @for (option of filteredOptions; track option) {
        <ion-item (click)="selectOption(option)">
          <ion-avatar slot="start">
            <img
              [src]="option.logo"
              alt="{{ option.name }} logo"
              referrerpolicy="no-referrer"
            />
          </ion-avatar>
          <ion-label>{{ option.name }}</ion-label>
        </ion-item>

        } } }
        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Prix :"
            type="number"
            placeholder=""
            name="amount"
            formControlName="amount"
            [formControl]="amount"
          ></ion-input>
          <ion-text
            color="danger"
            *ngIf="(showErrors || amount.touched) && amount.invalid"
          >
            Ce champ est obligatoire.
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-select
            labelPlacement="floating"
            label="Catégorie :"
            name="selectedCategory"
            formControlName="category"
            [formControl]="selectedCategory"
            okText="Valider"
            cancelText="Annuler"
          >
            @for (category of subscriptionCategories; track category) {
            <ion-select-option value="{{ category }}">{{
              category
            }}</ion-select-option>
            }
          </ion-select>

          <ion-text
            color="danger"
            *ngIf="(showErrors || selectedCategory.touched) && selectedCategory.invalid"
          >
            Ce champ est obligatoire.
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-select
            labelPlacement="floating"
            label="Férquence :"
            name="selectedRenewal"
            formControlName="renewal"
            [formControl]="selectedRenewal"
            okText="Valider"
            cancelText="Annuler"
          >
            @for (renewal of subscriptionRenewal; track renewal) {
            <ion-select-option value="{{ renewal }}">{{
              renewal
            }}</ion-select-option>
            }
          </ion-select>
          <ion-text
            color="danger"
            *ngIf="(showErrors || selectedRenewal.touched) && selectedRenewal.invalid"
          >
            Ce champ est obligatoire.
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Prochain paiement :</ion-label>
          <ion-datetime-button
            datetime="nextPaymentDatetime"
            slot="end"
          ></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true" [backdropDismiss]="true" class="datetime-modal">
            <ng-template>
              <ion-datetime
                id="nextPaymentDatetime"
                presentation="date"
                min="{{ today }}"
                max="2099-12-09"
                show-default-buttons="true"
                doneText="Valider"
                cancelText="Annuler"
                [(ngModel)]="selectedNextPaymentDate"
                name="nextPaymentDate"
                [formControl]="nextPaymentDate"
                formControlName="nextPaymentDate"
              >
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="(showErrors || nextPaymentDate.touched) && nextPaymentDate.invalid"
        >
          Ce champ est obligatoire.
        </ion-text>
        
        <ion-item>
          <ion-select
            labelPlacement="floating"
            label="Echéance :"
            name="selectedDeadline"
            formControlName="selectedDeadline"
            [formControl]="selectedDeadline"
            (ionChange)="openDateModal($event)"
            #itemElem
            okText="Valider"
            cancelText="Annuler"
          >
            @for (deadline of subsciptionDeadline; track deadline) {
            <ion-select-option value="{{ deadline }}"> {{
              deadline
            }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="(showErrors || selectedDeadline.touched) && selectedDeadline.invalid"
        >
          Ce champ est obligatoire.
        </ion-text>
        <ion-item [ngClass]="status ? 'ion-show' : 'ion-hide'">
          <ion-label>Date d'échéance :</ion-label>
          <ion-datetime-button
            datetime="deadlineDatetime"
            slot="end"
          ></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true" [backdropDismiss]="true" class="datetime-modal">
            <ng-template>
              <ion-datetime
                id="deadlineDatetime"
                presentation="date"
                min="{{ today }}"
                max="2099-12-09"
                show-default-buttons="true"
                doneText="Valider"
                cancelText="Annuler"
                name="deadline"
                [(ngModel)]="selectedDeadlineDate"
                [formControl]="deadline"
                formControlName="deadline"
              >
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="status && (showErrors || deadline.touched) && deadline.invalid"
        >
          Ce champ est obligatoire.
        </ion-text>
        <br />
        <ion-text
          color="danger"
          *ngIf="showErrors && addSubscribtionForm.invalid"
        >
          Veuillez remplir tous les champs.
        </ion-text>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button color="medium" expand="block" (click)="resetForm()"
              >Effacer</ion-button
            >
          </ion-col>
          <ion-col size="6">
            <ion-button id="open-loading" expand="block" type="submit"
              >Valider</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
