/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@use 'theme/variables' as *;


/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';

ion-datetime {
  border: 5px solid rgb(189, 189, 189);
  border-radius: 5%;
}

.main-content {
  padding: 10px;
  box-sizing: border-box;
}

// Réduit la taille de la tab bar et des icônes
ion-tab-bar {
  height: 45px;
  padding-bottom: env(safe-area-inset-bottom, 0);
  min-height: 45px;
}

ion-tab-button {
  font-size: 10px;
  
  ion-icon {
    font-size: 20px;
  }
}

body {
  color: $primary-color !important;
  font-family: $font-family !important;
}

ion-label, ion-title, ion-content, .alert-radio-label {
    color: $primary-color !important;
    font-family: $font-family !important;
  }
  
